.custom-container {
  margin-right: auto;
  margin-left: auto;
}

.table{
  border-collapse: collapse;
  width:90rem;
}

.table tr td{
  padding:1rem;
  text-align: left;
}

.table th{
  font-weight: bold;

}

.table td:nth-child(even){
  background-color: #f0f0f0;
}